target/classes/implementation_ux_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:request-config name="Delta_REST_Request_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Request Configuration" basePath="/process_api"/>
    <flow name="getDeltaFlightsFlow">
        <http:request config-ref="Delta_REST_Request_Configuration" path="/deltaFlights" method="GET" doc:name="Delta Request" metadata:id="136c0e0a-c4b1-4f5f-9d0b-1a7e2b549757">
            <http:request-builder>
                <http:query-param paramName="destination" value="#[message.inboundProperties.'http.query.params'.destination]"/>
            </http:request-builder>
        </http:request>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getAirlinesFlightsFlow">
        <http:request config-ref="Delta_REST_Request_Configuration" path="/airlinesFlights" method="GET" doc:name="United Request" metadata:id="136c0e0a-c4b1-4f5f-9d0b-1a7e2b549757"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
</mule>
